<h1>Welcome</h1>
<p>This is an example site. It doesn't really do anything, but it does have some rad buttons</p>
<p><button>I am a button</button></p>
<p>Check out the <a href="/styleguide">styleguide</a> to see the value here.</p>