<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Styleguide Example</title>
  <link rel="stylesheet" href="/stylesheets/layout.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/buttons.css" type="text/css" />
</head>
<body>

  <header>
    Styleguide Example
  </header>

  <div id="wrapper">

    <nav role="main">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/styleguide">Styleguide</a></li>
      </ul>
    </nav>

    <%= yield %>

  </div><!-- /#wrapper -->

  <script src="/javascripts/kss.js"></script>

</body>
</html>