<!DOCTYPE html>
<html>
<head>
  <title>Styleguide Example</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/layout.css">
  <link rel="stylesheet" href="/stylesheets/buttons.css">
  <link rel="stylesheet" href="/stylesheets/table.css">
</head>
<body>

  <header>
    Styleguide Example
  </header>

  <div id="wrapper">

    <nav role="main">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/styleguide">Styleguide</a></li>
        <li><a href="/inline">Inline</a></li>
      </ul>
    </nav>

    <%= yield %>

  </div><!-- /#wrapper -->

  <script src="/javascripts/kss.js"></script>

</body>
</html>
