<% styleguide_block  '1.1' do %>
  <button class="$modifier_class">Example Button</button>
<% end %>

<p>This block above was created with a simple template call:</p>
<pre><code>&lt;% styleguide_block  &#x27;1.1&#x27; do %&gt;
  &lt;button class=&quot;$modifier_class&quot;&gt;Example Button&lt;/button&gt;
&lt;% end %&gt;</code></pre>
<p>
  Take a look at the source code to this Sinatra app for more details. The goal
  is to remove the pain from creating a styleguide — document your CSS, have
  example HTML in your templates and automate as much as possible.
</p>