html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  margin: 1em 0;
}



/*----------------------------------------------------------------------------
  Main Layout
----------------------------------------------------------------------------*/

body {
  font-family: "Lucida Grande", sans-serif;
  font-size: 14px;
  color: #666;
  background: #fff;
}

.inner {
  margin: 0 auto;
  width: 1000px;
}

a {
  font-weight: bold;
  color: #0092c2;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

code {
  font-size: 13px;
  font-family: "Menlo";
}

footer {
  margin: 30px auto;
  width: 1000px;
  border-top: 1px solid #eee;
  color: #999;
  text-align: center;
}
footer p {
  font-size: 12px;
}
footer a {
  color: #666;
  font-weight: normal;
}



/*----------------------------------------------------------------------------
  Header
----------------------------------------------------------------------------*/

header {
  margin-bottom: 50px;
  height: 38px;
  background: #fff;
  background: #E62E15;
  border-bottom: 1px solid #C72811;
  box-shadow: 0 0 10px rgba(0,0,0,0.125);
}

header a.logo {
  float: left;
  margin-top: 12px;
  width: 28px;
  height: 14px;
  text-indent: -9999px;
  background: url(/images/sprites.png) 0 0 no-repeat;
}

header nav ul {
  float: left;
  margin: 0 0 0 20px;
  height: 38px;
  padding-left: 20px;
  border-left: 1px solid #C72811;
}
header nav ul>li {
  list-style-type: none;
  margin-right: 20px;
  float: left;
  height: 38px;
  line-height: 35px;
}
header nav a {
  display: inline-block;
  line-height: 1;
  padding-bottom: 3px;
  font-size: 11px;
  color: #fff;
  -webkit-font-smoothing: antialised;
  text-shadow: 0 -1px rgba(0,0,0,0.4);
  border-bottom: 1px solid #FF421D;

  -webkit-transition: border-color;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
}
header nav a:hover {
  text-decoration: none;
  border-bottom-color: #fff;
}
header nav a.selected {
  color: #FFDC4B;
  border: none;
}

header p.github {
  float: right;
  margin: 0;
  height: 38px;
  line-height: 38px;
}
header p.github a{
  float: right;
  margin-top: 10px;
  height: 18px;
  line-height: 18px;
  padding-left: 23px;
  font-weight: normal;
  border: none;
  background: url(/images/sprites.png) 0 -400px no-repeat;
}



/*----------------------------------------------------------------------------
  Intro & Ruler
----------------------------------------------------------------------------*/

.intro {
  position: relative;
  font-size: 14px;
  line-height: 1.5;
}

.intro hr {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 19px;
  background: url(/images/sprites.png) 0 -200px repeat-x;
  border: none;
}
.intro .hr-seal {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 38px;
  height: 38px;
  background: url(/images/sprites.png) 0 -300px no-repeat;
}

.intro .inner {
  overflow: auto;
}
.intro .description {
  float: left;
  width: 314px;
}
.intro .example {
  float: right;
  width: 656px;
}

.intro h1.kss-text {
  margin: 0 0 10px 0;
  width: 311px;
  height: 31px;
  text-indent: -9999px;
  background: url(/images/sprites.png) 0 -100px no-repeat;
}

.intro p.subdued {
  color: #999;
}



/*----------------------------------------------------------------------------
  Main Content
----------------------------------------------------------------------------*/

h2 {
  margin-bottom: -5px;
  font-size: 18px;
  font-weight: normal;
  color: #000;
}

p {
  margin: 1.5em 0;
  font-size: 13px;
  line-height: 1.5;
}

.three-col {
  overflow: auto;
}
.three-col .column {
  float: left;
  width:314px;
  margin-left: 30px;
}
.three-col .left {
  margin-left :0;
}
.three-col .middle {
  width: 312px;
}
