<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>KSS · Knyle Style Sheets</title>
  <link rel="stylesheet" href="/kss/stylesheets/base.css" type="text/css" charset="utf-8" />
  <link rel="stylesheet" href="/kss/stylesheets/pygments.css" type="text/css" charset="utf-8" />
</head>
<body>
  <header>
    <div class="inner">
      <a href="/kss" class="logo">KSS</a>
      <nav role="main">
        <ul>
          <li><a href="/" id="nav-introduction">Introduction</a></li>
          <li><a href="/kss/syntax/" id="nav-syntax">Documentation Syntax</a></li>
          <li><a href="/kss/styleguides/" id="nav-styleguide">Generate Styleguides</a></li>
        </ul>
        <p class="github"><a href="https://github.com/kneath/kss">View the code on GitHub</a></p>
      </nav>
    </div>
  </header>

  {{ content }}

  <footer>
    <p>
      KSS is maintained by <a href="http://warpspire.com">Kyle Neath</a> and hosted on <a href="https://github.com/kneath/kss">GitHub</a>.
    </p>
  </footer>
</body>
</html>
