<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>KSS · Knyle Style Sheets</title>
  <link rel="stylesheet" href="/stylesheets/base.css" type="text/css" charset="utf-8" />
</head>
<body>
  <header>
    <div class="inner">
      <a href="/" class="logo">KSS</a>
      <nav role="main">
        <ul>
          <li><a href="/" class="selected">Introduction</a></li>
          <li><a href="/syntax">Documentation Syntax</a></li>
          <li><a href="/styleguides">Generate Styleguides</a></li>
        </ul>
        <p class="github"><a href="https://github.com/kneath/kss">View the code on GitHub</a></p>
      </nav>
    </div>
  </header>

  {{ content }}
</body>
</html>
