<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>KSS · Knyle Style Sheets</title>
  <link rel="stylesheet" href="/kss/stylesheets/base.css" type="text/css" charset="utf-8" />
  <link rel="stylesheet" href="/kss/stylesheets/pygments.css" type="text/css" charset="utf-8" />
</head>
<body>
  <header>
    <div class="inner">
      <a href="/kss/" class="logo">KSS</a>
      <nav role="main">
        <ul>
          <li><a href="/kss/" id="nav-introduction">Introduction</a></li>
          <li><a href="/kss/syntax/" id="nav-syntax">Documentation Syntax</a></li>
          <li><a href="/kss/styleguides/" id="nav-styleguide">Generate Styleguides</a></li>
        </ul>
        <p class="github"><a href="https://github.com/kneath/kss">View the code on GitHub</a></p>
      </nav>
    </div>
  </header>

  {{ content }}

  <footer>
    <p>
      KSS is maintained by <a href="http://warpspire.com">Kyle Neath</a> and hosted on <a href="https://github.com/kneath/kss">GitHub</a>.
    </p>
  </footer>
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4fb354edf5a1f53389000005');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>
